.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  background-color: blue;
  width: 100vw;
  padding: 1rem;
}

.header__menu.active {
  display: block;
}

.header__menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  background-color: purple;
  width: 90vw;
  transform: translateX(-50%);
  height: 300px;
}

.header__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header__menu ul li {
  padding: 0.8em 1.2em;
  border-radius: 50px;
  transition: var(--transition);
}

.header__menu ul li:hover {
  background-color: var(--primary-yellow);
  text-transform: uppercase;
}

.header__menu ul li a {
  color: var(--grayish-blue);
  font-family: var(--text-font);
  font-size: 18px;
  transition: var(--transition);
}

.header__menu ul li:hover a {
  color: var(--very-dark-grayish-blue);
}

.header button {
  background-color: transparent;
  border: none;
  padding: 0.25rem;
}

.header button span {
  background-color: #fff;
  border-radius: 2px;
  height: 2px;
  width: 27px;
  display: block;
}

.header button span:not(:last-child) {
  margin-bottom: 0.4rem;
}
